.works h4 {
    color: #BC3CD8;
    font-size: 30px;
    font-weight: 600;
}



.works .projects {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5% 15%;
}

.works .projects .project {
    display: flex;
    justify-content: center;
    padding-top: 3%;

}

.works .projects .project img {
    width: 200px;
    margin-top: 10px;
}

.project-imgs {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 35%, rgba(255, 255, 255, 1) 100%);
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.project-description {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5%;
    border-radius: 10px;
}

.project-description h5 {
    color: #BC3CD8;
    font-weight: 500;
    font-size: 26px;
}

.project-description p {
    color: rgba(227, 228, 230, 0.55);
    font-size: 23px;
    padding: 4% 0px;
    font-weight: 200;
    letter-spacing: 1.2px;
    line-height: 30px;

}

.project-description p span {
    color: white;
    font-weight: 600;
}

.view-source {
    display: flex;
    padding-top: 5%;
}

.view-source a {
    display: flex;
    align-items: center;
    color: white;
    padding: 6px 20px;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 10px;
    transition: 1s;
}

.view-source a:hover {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 41%, rgba(253, 29, 29, 1) 100%);
}

.project-imgs-2 {
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 35%, rgba(231, 119, 22, 1) 100%);
    padding: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1295px) {
    .works .projects {
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 5% 5%;
    }

    .project-description p {

        font-size: 20px;


    }

    .works .projects .project img {
        width: 150px;
        margin-top: 10px;
    }

    .project-imgs {
        background: rgb(0, 0, 0);
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 35%, rgba(255, 255, 255, 1) 100%);
        padding: 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    .project-imgs-2 {
        background: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 35%, rgba(231, 119, 22, 1) 100%);
        padding: 30px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {


    .project-imgs {
        background: rgb(0, 0, 0);
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 35%, rgba(255, 255, 255, 1) 100%);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    .project-imgs-2 {
        background: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 35%, rgba(231, 119, 22, 1) 100%);
        padding: 20px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }

    .view-source a {
        font-size: 16px;
        padding: 3px 10px;

    }
}

@media only screen and (max-width: 675px) {
    .works .projects {
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 5% 2%;
    }

    .project-description h5 {

        font-size: 15px;
    }

    .project-description p {

        font-size: 17px;


    }

    .project-description p span {

        font-size: 17px;
        font-weight: 400;

    }

    .works .projects .project img {
        width: 120px;
        height: 70px;
        margin-top: 10px;
    }

    .project-imgs {
        background: rgb(0, 0, 0);
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 35%, rgba(255, 255, 255, 1) 100%);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    .project {
        padding-top: 60px;
    }

    .view-source {
        padding-top: 3%;
    }

    .view-source a {
        font-size: 12px;
        padding: 3px 10px;

    }
}

@media only screen and (max-width: 564px) {
    .view-source a {
        font-size: 10px;
        padding: 3px 10px;

    }
}

@media only screen and (max-width: 470px) {
    .works .projects .project {
        display: flex;
        flex-direction: column;

    }

    .project {
        margin-top: 50px;
    }

    .project-imgs {
        flex-direction: row;

    }

    .project-imgs-2 {
        flex-direction: row;
    }

    .a {
        flex-direction: column-reverse !important;
    }
}

@media only screen and (max-width: 420px) {
    .works .projects .project img {
        width: 100px;
        height: 70px;
        margin-top: 10px;
    }
}