.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
    height: 80vh;
}

.home img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.home h1 {
    font-size: 32px;
    text-align: center;
    padding: 3% 16%;
}

.home h1 span {
    color: #BC3CD8;
}

@media only screen and (max-width: 600px) {
    .home h1 {
        font-size: 22px;

    }
}

@media only screen and (max-width: 425px) {
    .home h1 {
        font-size: 19px;

    }

    .home img {
        width: 180px;
        height: 180px;
        border-radius: 50%;

    }
}