.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
    height: 80vh;
}

.home img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.home h1 {
    font-size: 32px;
    text-align: center;
    padding: 5% 0px;
    display: flex;
}

.home h1 span {
    color: #BC3CD8;
    margin-left: 10px;
}

@media only screen and (max-width: 650px) {
    .home h1 {
        font-size: 26px;

    }
}

@media only screen and (max-width: 560px) {
    .home h1 {
        font-size: 20px;

    }
}

@media only screen and (max-width: 425px) {
    .home h1 {
        font-size: 16px;

    }

    .home img {
        width: 150px;
        height: 150px;
        border-radius: 50%;

    }
}

@media only screen and (max-width: 350px) {
    .home h1 {
        font-size: 13px;

    }
}