.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.about-description h3 {
    color: #BC3CD8;
}

.about-description p {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 200;
    color: rgba(227, 228, 230, 0.55);
    line-height: 30px;
}

.about-description p span {
    color: white;
    font-weight: 600;
}

.about img {
    width: 250px;
    /* padding-bottom: 10px;
    padding-left: 20px; */
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 8px;
}

.about-img {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1045px) {
    .about img {
        width: 200px;
    }

    .about-description p {
        font-size: 18px;
    }

    .about-description p span {
        color: white;
        font-weight: 400;
    }
}

@media only screen and (max-width: 850px) {
    .about img {
        width: 150px;
    }

    .about-description p {
        font-size: 16px;
    }


}

@media only screen and (max-width: 775px) {
    .about {
        flex-direction: column;
    }
}